.lojas ul {
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.lojas li {
    display: flex;
    padding: 32PX;
    border-left: 2px solid var(--cor-2);
}
.lojas h2{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
}
.lojas{
    padding-top: 60px;
    padding-bottom: 120px;
}
.lojas li:first-child,
.lojas li:nth-child(5){
    border-left:none ;
}
.lojas li:nth-child(n + 5){
    border-top: 2px solid var(--cor-2);
}
.lojas img{
    margin: auto;
}